* {
  background-color: #5B5858;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

/* Clases a los contenedores de las imágenes */

.carousel-content {
  display: none;
  margin: 0 auto 1em;
}

.carousel-content.active {
  display: block;
}

/* Clases a las imágenes */

.img-responsive {
  max-width: 100%;
  height: auto;
  width: 45%;
  border-radius: 10px;
  border: 10px solid #D4AF37;
}

.white-background {
  background-color: #FFF;
}

/* Estilos a los elementos de la sección de los botones */

.control {
  width: 20px;
  height: 20px;
  margin: 10px;
  border: 1px solid #FFF;
  border-radius: 50%;
  outline: 0;
}

.previous, .next {
  color: #FFF;
  text-decoration: none;
  font-size: 1.5em;
  margin: 10px 30px;
}

.control:hover, .previous:hover, .next:hover {
  background: #EF770D;
  border: 1px solid #EF770D;
}
